{#include base}
    {#title}{author.name}{/title}
    <p>Books by {author.name}</p>
    <table>
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Series</th>
            <th scope="col">My rating</th>
            <th scope="col">Global rating</th>
            <th scope="col">Date read</th>
        </tr>
        </thead>
        <tbody>
        {#for book in author.books}
            <tr>
                <th scope="row">
                    <a href="/{book.id}">{book.titleShort}</a>
                </th>
                <td>
                    {book.seriesName} {#if book.seriesPosition.isPresent()}(#{book.seriesPosition}){/if}
                </td>
                <td>
                    {book.myRating}
                </td>
                <td>
                    {book.averageRating}
                </td>
                <td>
                    {book.myDateRead}
                </td>
            </tr>
        {/for}
        </tbody>
    </table>
{/include}