{#include base}
    {#title}Authors{/title}
    <p>Authors</p>
    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Read books</th>
        </tr>
        </thead>
        <tbody>
        {#for author in authors}
            <tr>
                <th scope="row">
                    <a href="/authors/{author.slug}">{author.name}</a>
                </th>
                <td>
                    {author.count}
                </td>
            </tr>
        {/for}
        </tbody>
    </table>
{/include}