{#include base}
    {#title}{book.titleShort} by {book.authorFullName}{/title}
    <table>
        <tbody>
        <tr>
            <th scope="row">
                <strong>Title</strong>
            </th>
            <td>{book.titleShort}</td>
        </tr>
        <tr>
            <th scope="row">
                <strong>Author</strong>
            </th>
            <td>
                {book.authorFullName}
            </td>
        </tr>
        {#if ! book.additionalAuthors.isEmpty()}
            <tr>
                <th scope="row">
                    <strong>Additional authors</strong>
                </th>
                <td>
                    {#each book.additionalAuthors}
                        {it.fullName}{#if it_hasNext},{/if}
                    {/each}
                </td>
            </tr>
        {/if}
        <tr>
            <th scope="row">
                <strong>Series</strong>
            </th>
            <td>
                {#if book.seriesName.isPresent()}
                    {book.seriesName}
                {#else}
                    Not part of series
                {/if}
            </td>
        </tr>
        {#if book.seriesPosition.isPresent()}
            <tr>
                <th scope="row">
                    <strong>Position in series</strong>
                </th>
                <td>
                    {book.seriesPosition}
                </td>
            </tr>
        {/if}
        <tr>
            <th scope="row">
                <strong>My rating</strong>
            </th>
            <td>
                {#if book.myRating.isPresent()}
                    {book.myRating}
                {#else}
                    Unrated
                {/if}
            </td>
        </tr>
        <tr>
            <th scope="row">
                <strong>Average rating</strong>
            </th>
            <td>
                {book.averageRating}
            </td>
        </tr>
        <tr>
            <th scope="row">
                <strong>Date read</strong>
            </th>
            <td>
                {book.myDateRead}
            </td>
        </tr>
        </tbody>
    </table>
{/include}