{#include base}
    {#title}All read books{/title}
    <table>
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Series</th>
            <th scope="col">My rating</th>
            <th scope="col">Global rating</th>
            <th scope="col">Date read</th>
        </tr>
        </thead>
        <tbody>
        {#for book in books}
            <tr>
                <th scope="row">
                    <a href="/{book.id}">{book.titleShort}</a>
                </th>
                <td>
                    <a href="/authors/{book.author.slug}">{book.authorFullName}</a>
                </td>
                <td>
                    {book.seriesName} {#if book.seriesPosition.isPresent()}(#{book.seriesPosition}){/if}
                </td>
                <td>
                    {book.myRating}
                </td>
                <td>
                    {book.averageRating}
                </td>
                <td>
                    {book.myDateRead}
                </td>
            </tr>
        {/for}
        </tbody>
    </table>
{/include}
